DATABASE_URL=
PORT=
JWT_SECRET=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
JWT_EXPIRES_IN=
REFRESH_EXPIRES_IN=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=
FIREBASE_STORAGE_BUCKET=
NODE_ENV=
SLACK_ERROR_WEBHOOK_URL=
MAIL_HOST=
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=
FRONTEND_URL=
AI_SERVICE_URL=http://localhost:8001
AI_SERVICE_TIMEOUT=120000
AI_SERVICE_MAX_RETRIES=3
ELASTICSEARCH_NODE=http://localhost:9200
ELASTICSEARCH_USERNAME=
ELASTICSEARCH_PASSWORD=
ELASTICSEARCH_INDEX_JOBS=jobs