# Crawl Jobs
cloudscraper
beautifulsoup4
python-dotenv
psycopg2-binary
aiohttp>=3.9.0
asyncio
pandas
rapidfuzz
# tqdm

# Multi-Class Classification
# torch
# transformers
# scikit-learn 
# matplotlib
# datasets
# accelerate
# hf_xet
# huggingface_hub